#panel{
    word-wrap: break-word;
}

#story-title{
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    text-decoration: none;
    font-family: 'Great Vibes', cursive;
}

.author{
    margin-left: 5%;
    text-align: center;
}

.game-heading{
    font-weight: bold;
    color: #199ED8;
}

.display-list{
    width: 17em;
    word-wrap: break-word;
    white-space: pre-line;
    padding-top: 1%;
}

.case-button{
    height: 350px;
    background: white;
    color: black;
    width: 15em;
    margin-right: 8%;
    margin-bottom: 4%;
}

.case-button img{
    height: 8em;
}

.case-title{
    word-wrap: break-word;
    white-space: pre-line;
}

.search-result{
    margin: 2% 6%;
}

Col {
    margin-bottom: 5%;
}

.limit-paragraph{
    line-height: 1.4;
    margin: 0;
}

.result-heading{
    color: #199ED8;
    font-weight: bold;
}

.previous-stem >h3 {
    color: #199ED8;
}

/*.previous-stem-btn{*/
    /*font-size: 130%;*/
/*}*/

/*.previous-stem-col{*/
    /*margin-left: 10%;*/
/*}*/

.game-question-area{
    padding: 1% 2%;
}

.progress-bar{
    width: 81%;
    padding-left: 0;
}