.leader_text_font {
    font-size: 20px;
}

.leader_text_div {
    margin-top: 10px;
}

.leaderboard_container {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    height: 600px;
    border-color: #C9C9C9;
}

.leaderboard_image {
    height: 150px;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card {
    margin-top: 30px;
    background:#FFF;
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    border:1px solid #AAA;
    border-bottom:3px solid #BBB;
    overflow:hidden;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Roboto', sans-serif;
    -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 15px;
    height: 400px;
    width: 300px;
}

.questionAnswerPanels {
    margin-top: 20px;
}

.chart-col {
    margin-bottom: 30px;
}

.student-stats{
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: #C9C9C9;
    height: 450px;
}

.case-stats{
    margin-top: 3%;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: #C9C9C9;
    height: 700px;
}

.game-stats {
    margin-top: 3%;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: #C9C9C9;
    height: 450px;
}

.case-challenge-badges {
    height: 50px;
    width: 50px;
    margin-top: -12px;
    margin-left: -25px;
}

.case-contributor-badges {
    height: 40px;
    width: 40px;
    margin-top: -5px;
    margin-left: -15px;
}

.mcq-option-icon {
    margin-right: 5px;
}

.dashboard-case-panel-answer {
    color: #56B0CB;
}