#main{
    box-sizing: border-box;
    margin-left: 2%;
    margin-right: 2%;
}

#main .story{
    background-color:#D9EDF7;
    border-radius: 25px;
    margin-top: 1%;
}

#main .row{
    word-wrap: break-word;
}

#main .story-title{
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    text-decoration: none;
    font-family: 'Great Vibes', cursive;
}

#main .title{
    text-align: center;
    font-size: 150%;
    text-decoration: none;
}

#main .stem{
    padding-bottom: 7%;
}

#main .stem-label{
    font-style: italic;
    padding-bottom: 2%;
    font-size: 120%;
}


#main .add-question-button{
    text-align: center;
}

#question .delete-question-button{
    text-align: right;
}

#main .submit-case-button{
    padding-bottom: 5%;
    text-align: center;
}

#collapse-bar{
    background-color:#A4B2C8;
    border-radius: 25px;
}

.heading h1{
    margin-top: 3%;
}

.heading hr{
    border-width: thick;
    border-color: #199ED8;
    width: 70%;
}

.heading h4{
    margin: 0% 16% 3%;
}

.preview-case-button{
    margin:20% 15% 2%;
}

.submit-case-button{
    margin:20% 15% 2%;
}
