.leader_text_font {
    font-size: 20px;
}

.leader_text_div {
    margin-top: 10px;
}

.leaderboard_container {
    border-style: groove;
    border-width: 1px;
    border-radius: 10px;
    height: 500px;
}

.leaderboard_image {
    height: 150px;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}