.carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 30px 10px 10px 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #E7E7E7;
}
.carousel-indicators .active {
    width: 15px;
    height: 15px;
    margin: 30px 10px 10px 10px;
    background-color: #C9C9C9;
}
.carousel {
    height: 25em
}

.carousel-item {
    padding-left: 12%;
    padding-top: 3%;
}

.carousel-button {
    background: white;
    color: black;
    width: 14em;
    height: 13em;
    margin-right: 8%;
}

.carousel-button > img {
    height: 8em;
}

.carousel-button > h3 {
    font-weight: bold;
    margin: 0;
}

.carousel-button > h4 {
    margin: 0;
}