.carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 30px 10px 10px 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #E7E7E7;
}
.carousel-indicators .active {
    width: 15px;
    height: 15px;
    margin: 30px 10px 10px 10px;
    background-color: #C9C9C9;
}