.home-container{
    padding: 3%;
    box-sizing: border-box;
    width: 100%;
    /* background-color: yellow; */
}

.home-container .picture{
    width: 50%;
    float: left;
    background-color: blue;
}
